.weather {
  border: 1px solid #dadde1;
  border-radius: 15px;
  padding: 16px;
}

.weatger form {
  margin-bottom: 20px;
}

.weather h1 {
  display: block;

  font-weight: 800;
  font-size: 45px;
  margin: 20px 0 0 0;
}
.weather ul {
  margin: 0;
  padding: 0;
}

.weather li {
  font-size: 15px;
  font-weight: 600;
  list-style: none;
}
.weather img {
  height: 65px;
  width: 65px;
  margin-right: 10px;
  display: inline-block;
}
.weather .temp {
  font-weight: bold;
  font-size: 65px;
  position: relative;
  top: 15px;
  margin-left: -30px;
}
.weather .unit {
  font-size: 18px;
  font-weight: 300;
  position: relative;
  top: -18px;
  margin-left: -17px;
}

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #fcf;
  border-color: #fcf transparent #fcf transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
